<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.all @ categories='newsportal.reset'}"/>



<sly data-sly-use.reset="com.gofortrainings.newsportal.core.models.ResetPassword"/>


<div class="container">
  <form class="form">
    <h2 class="form-title">${reset.resetPassword}</h2>
    <div class="form-group">
      <label for="userId">UserId</label>
      <input type="text" placeholder="${reset.userId}" id="username" name="userId" required>
    </div>
    <div class="form-group">
      <label for="old-password">Old Password</label>
      <input type="password" placeholder="${reset.oldPassword}" id="old-password" name="old-password" required>
    </div>
    <div class="form-group">
      <label for="new-password">New Password</label>
      <input type="password" placeholder="${reset.oldPassword}" id="new-password" name="new-password" required>
    </div>
    <button type="submit" class="btn">Reset Password</button>
  </form>
</div>
