<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.all @ categories='newsportal.login'}"/>



<sly data-sly-use.userlogin="com.gofortrainings.newsportal.core.models.UserLogin"/>



<div id="body">
<form  id="login" >
  <h3>${userlogin.login}</h3>
  <label for="userId">User ID</label>
  <input type="text" placeholder="${userlogin.userId}" name="userId" id="userid" required>
  <label for="password">Password</label>
  <div class="password-wrapper">
    <input type="password" placeholder="${userlogin.password}" name="password" id="password" required>
    <a class="show-password">Show Password</a>
    <div class="password-strength-meter"></div>
  </div>
  <button type="submit" href= "#">Log In</button>
  <div class="reset-password">
    <a href= "#">Reset Password?</a>
  </div>
</form>
</div>

